@import '../common/normalize.css';
@import '../impala/fonts/fira/fira.less';

// Grid
@grid-max: 940px;
@phone-large: ~"only screen and (min-width: 428px)";
@phone: ~"only screen and (max-width: 768px)";
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 1024px)";

// Fonts
@font-primary: 'Fira Sans', sans-serif;

// Colors
@color-text: #333;
@color-items: #fff;

// Color Schemes
// Light
@color-scheme-light-text: #333;
@color-scheme-light-background: #f1f3f6;

// Medium
@color-scheme-medium-text: #fff;
@color-scheme-medium-background: #0568ba;
@color-scheme-medium-items: #29c978;

// Dark
@color-scheme-dark-text: #fff;
@color-scheme-dark-background: #1d3770;
@color-scheme-dark-items: #40d38d;

// Common styles
* {
  font-family: @font-primary;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 20px;
  margin-top: 0;
}

// Mixins / Utilities
.show-on-desktop {
  display: none;

  @media @desktop {
    display: inline;
  }
}

.hide-on-desktop {
  @media @desktop {
    display: none;
  }
}

.content {
  width: 100%;

  > div {
    color: @color-text;
    padding: 20px 20px;

    @media @tablet {
      padding: 20px 60px;
      max-width: @grid-max;
      margin: 0 auto;
    }
  }

  p,
  li {
    font-weight: 300;
    color: @color-text;
  }
}

.scheme-light {
  background-color: @color-scheme-light-background;

  p,
  li {
    color: @color-scheme-light-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-light-background;
  }
}

.scheme-medium {
  background-color: @color-scheme-medium-background;

  p,
  li {
    color: @color-scheme-medium-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-medium-background;
  }
}

.scheme-dark {
  background-color: @color-scheme-dark-background;

  p,
  li {
    color: @color-scheme-dark-text;
  }

  &:before,
  &:after {
    background-color: @color-scheme-dark-background;
  }
}

// Components
.Button {
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: @color-items;
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;

  .scheme-medium & {
    background-color: @color-scheme-medium-items;
  }
}

.Logo {
  display: flex;

  &::before {
    content: '';
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('../../img/developers/addons-logo.svg') no-repeat left center;
    background-size: contain;
  }

  span {
    display: none;
    align-self: center;

    @media @desktop {
      display: inline;
      margin-left: 10px;
    }
  }

  .scheme-medium & {
    background: url('../../img/developers/addons-logo-black.svg') no-repeat left center;
    background-size: contain;
  }
}

.DevHub-Navigation {
  > div {
    padding-top: 5px;
  }

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: 10px 20px;

      &:first-child {
        margin: 0 auto 0 0;
      }

      &.avatar {
        display: none;

        @media @desktop {
          display: inline;
        }

        img {
          width: 40px;
          border-radius: 50%;
        }
      }

      a {
        color: @color-text;
        text-decoration: none;
      }
    }
  }

  // Schemas:
  &.scheme-light {
    ul li a {
      color: @color-scheme-light-text;
    }
  }

  &.scheme-medium {
    ul li a {
      color: @color-scheme-medium-text;
    }
  }
}

.DevHub-Overview {
  @media @phone-large {
    text-align: center;
  }

  h1 {
    color: @color-scheme-medium-text;
  }

  p {
    font-size: 24px;
    margin: 20px auto;
    max-width: 560px;

    > a {
      color: @color-scheme-medium-text;
    }

    @media @phone {
      font-size: 20px;
    }
  }
}

.DevHub-MoreInformation {
  > div {
    display: flex;
    flex-flow: column;

    @media @tablet {
      flex-flow: row nowrap;
    }
  }
}

.DevHub-BlogPosts,
.DevHub-Tools {
  line-height: 1.5;
  margin: 20px 0 auto;

  h2,
  h2 a {
    color: @color-scheme-dark-text;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        color: @color-scheme-dark-items;
        text-decoration: none;
      }

      p {
        margin-top: 0;
      }
    }
  }
}

.DevHub-BlogPosts {
  .read-more {
    text-decoration: none;
    color: @color-scheme-dark-items;
    font-weight: 600;
  }
}

.DevHub-Tools {
  ul {
    li {
      a {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
